@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Appointment";
}

@model Group_Project.Models.Appointment


<form asp-action="CreateAppointment" method="post">
    <div>
        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" />
    </div>

    <div>
        <label asp-for="GroupSize">Group Size</label>
        <input asp-for="GroupSize" />
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <label asp-for="Date">Date</label>
        <p>@ViewBag.Date</p>
        <input type="hidden" value="@ViewBag.Date" asp-for="Date" />
    </div>

    <div>
        <label asp-for="Time">Time</label>
        <p>@ViewBag.Time</p>
        <input type="hidden" value="@ViewBag.Time" asp-for="Time" />
    </div>

    <button type="submit">Create Appointment</button>

</form>