@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Appointment";
}

@model Group_Project.Models.Appointment

<form asp-action="CreateAppointment" method="post">
    <div>
        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" />
    </div>

    <div>
        <label asp-for="GroupSize">Group Size</label>
        <input asp-for="GroupSize" />
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <label asp-for="Date">Date</label>
        <input asp-for="Date" />
    </div>

    <div>
        <label asp-for="Time">Time</label>
        <select asp-for="Time">
            <option value="8">8 am</option>
            <option value="9">9 am</option>
            <option value="10">10 am</option>
            <option value="11">11 am</option>
            <option value="12">Noon</option>
            <option value="13">1 pm</option>
            <option value="14">2 pm</option>
            <option value="15">3 pm</option>
            <option value="16">4 pm</option>
            <option value="17">5 pm</option>
            <option value="18">6 pm</option>
            <option value="19">7 pm</option>
            <option value="20">8 pm</option>
        </select>
    </div>
    
    <button type="submit">Create Appointment</button>

</form>